
.ui-tabs-nav { 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.ui-widget-content a {
    color: white;
}
.ui-widget-header {
    border-bottom: 1px solid #337AB7;
    color: #FFF;
    font-weight: bold;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #337AB7;
    background: #EDEDED;
    font-weight: bold;
    color: #337AB7;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #002D56;
    text-decoration:none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #337AB7 ;
    background: #FFF repeat-x scroll 50% 50%;
    font-weight: bold;
    color: #337AB7 ;
}
.ui-datepicker-header{
    background:#337AB7;
    border: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    background: #EDEDED;
    border: 1px solid #D9534F;
}

.ui-widget-content {
    background: transparent;
}

#Header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: #337AB7;
    text-align: center;
}
#tabs {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}  
body {
    background-image: url(images/icones/1.JPG);
} 
.id-icons img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.id-icons {
    border-bottom: 1px solid #337AB7 ;
    margin-bottom: 5px;
    text-align: center;
}
.calendrier {
    text-align: center;
    margin-bottom: 30px;
}
.tracker1 {
    width:24%;
    text-align: center;
}
.tracker2 {
    width:24%;
    text-align: center;
}
.tracker3 {
    width:24%;
    text-align: center;
}
.tracker1 img {
    width: 30px;
    margin-top: 10px;
}
.tracker2 img {
    width: 30px;
    margin-top: 10px;
}

.tracker3 img {
    width: 30px;
    margin-top: 10px;
}
#slider1 {
    background-color: white;
}
#slider2 {
    background-color: white;
}
#slider3 {
    background-color: white;
}
#datepicker {
    background-color: white;
}
#alternate {
    padding : auto;
}