
.navbar-brand {
  margin-top: -15px;
}

.navbar-brand > p {
  display: inline;
  margin-left: 5px;
  margin-bottom: 5px;
  font-family: 'chawpregular';
  font-size: 28px;
  font-style: italic;
}

body { 
  padding-top: 60px; 
}

.jumbotron>h2 {
  font-size: 60px;
}

.jumbotron>h2 p {
  font-size: 12px;
}

@font-face {
    font-family: 'chawpregular';
    src: url('chawp.eot');
    src: url('chawp.eot?#iefix') format('embedded-opentype'),
         url('chawp.woff2') format('woff2'),
         url('chawp.woff') format('woff'),
         url('chawp.ttf') format('truetype'),
         url('chawp.svg#chawpregular') format('svg');
    font-weight: normal;
    font-style: normal;
}